.links {
    max-width: 1440px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;

    .links_content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .links_item {
            padding: 5px 15px;
            background: #f4f4f4;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            border-radius: 30px;

            &:hover {
                background-color: rgb(167, 224, 192);
            }
        }
    }

    .cart {
        width: 100px;
        height: 40px;
        background-color: red;
        border-radius: 30px;
        border: transparent;
        font-size: 17px;
        color: white;
        cursor: pointer;
        transition: .5s;

        &:hover {
            background: none;
            border: 1px solid red;
            color: red;
            transition: .5s;
        }
    }
}


@media (max-width:940px) {
    .links {
        .links_content {
            .links_item {
                font-size: 12px;
            }
        }

        .cart {
            width: 80px;
            height: 40px;
            font-size: 12px;
        }
    }
}

@media (max-width:750px) {
    .links {
        height: auto;
        flex-direction: column;
        gap: 50px;

        .links_content {
            flex-wrap: wrap;
            height: auto;
        }

        .cart {
            width: 150px;
            height: 40px;
            font-size: 14px;
        }
    }
}