.main {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 16px;
    margin-top: 30px;

    .swiper {
        border-radius: 10px;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            max-width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

@media (max-width:1439px) {
    .swiper-slide img {
        width: 100% !important;
        height: 100% !important;
    }
}

@media (max-width:600px) {
    .main {
        margin-top: 0px;
    }
}